APScheduler
certifi
Click
colorhash
configparser
cycler
Flask
Flask-Cors
gunicorn
itsdangerous
Jinja2
kiwisolver
kneed
MarkupSafe
numpy
psutil
pyparsing
python-dateutil
six
SQLAlchemy
tzlocal
Werkzeug
wincertstore
pymongo[tls,srv]
requests